* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    
    background-size: cover;
    background-position: center center;
    
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    height: 100vh;
    font-family: "Lato", sans-serif;
    margin: 0;
  }

.tickets {
    width: 550px;
    height: fit-content;
    border-radius: 8px;
    padding: 16px;
    
    box-shadow: 0px 25px 50px -12px #fff;
}

.ticket-selector {
   
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.seats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    font-size: 14px;
    position: relative;
}

.item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -14px;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    outline: 1px solid rgb(6, 2, 2);
    border-radius: 1px;
}

.item:nth-child(2)::before {
    background: rgb(180, 180, 180);
    outline: 1px solid rgb(6, 2, 2);
}

.item:nth-child(3)::before {
    background: #47a3ff;
    outline:1px solid rgb(6, 2, 2);
}

.all-seats {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 15px;
    margin: 60px 0;
    margin-top: 20px;
    position: relative;
}

.seat {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 1px;
    outline: 1px solid  rgb(72, 69, 69);
    cursor: pointer;
}

.all-seats input:checked+label {
    background: #47a3ff;
    outline: none;
}

.seat.booked {
    background: rgb(180, 180, 180);
    outline: none;
}

input {
    display: none;
}

.seats::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    height: 7px;
    background: rgb(141, 198, 255);
    border-radius: 0 0 3px 3px;
    border-top: 1px solid rgb(180, 180, 180);
}

.screentext {
    margin-top: 10px;
    font-size: 14px;
}

.timings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.dates {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dates-item {
    width: 50px;
    height: 50px;
    background: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 2px;
    cursor: pointer;
}
.dates-item:hover{
    background-color: red;
    color:white;
    transition-duration: 2s;
}
.day {
    font-size: 12px;
}

.times {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.time {
    font-size: 14px;
    width: fit-content;
    padding: 7px 14px;
    background: rgb(233, 233, 233);
    border-radius: 2px;
    cursor: pointer;
}

.timings input:checked+label {
    background: #47a3ff;
    color: white;
}

.price {
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.total div {
    display: flex;
    gap: 4px;
}

.total span {
    font-size: 12px;
    font-weight: 400;
}

.price button {
    background: rgb(62, 62, 62);
    color: white;
    font-size: 20px;
    padding: 7px 14px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}
.time::hover{
    background-color: red;
    color:white;
    transition-duration: 2s;
}
.button::hover{
    background-color: black;
    color:white;
    transition-duration: 2s;
}
#t1::hover{
    background-color: red;
    color:white;
    transition-duration: 2s;
}

input[type="radio"] {
    display: none; 
}


.time {
    cursor: pointer; 
}


.time:hover {
    color: white;
    background-color: red;
    transition-duration: 2s; 
}


input[type="radio"]:checked + label {
    font-weight: bold; 
}