* {
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
  z-index: 1000;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.menu-container{
  display: flex;
  flex: 4;
 }

 .menu-list{
  display: flex;
 }

 .menu-list li{
  list-style: none;
  display: flex;
 }
 
 .menu-list li a{
  text-decoration: none;
  color: #fff;
 }
 
 .menu-list-item{
  margin-right: 30px;
 }
 
 .menu-list-item.active{
  font-weight: bold;
 }
 
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
  flex:1;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}










/* body {
   
  margin: 0;
  text-align: center;

} */


/* DESKTOP */

@media all and (max-width: 999999999px) and (min-width: 1340px) {

/* Footer Parent Div Styling */

#footer {
  width: 100%;
  background-color: #161515;
  padding-top: 10px; /* Add padding to the top of the footer */
  box-sizing: border-box; /* Include padding in the total width of the footer */
}

.footer-title {
  margin-top: 0; /* Remove the default margin from the top of the H3 */
  margin-bottom: 10px; /* Add some margin at the bottom of the H3 */
}

/* #footer {
  
  width:100%;
  background-color:#fff;
  margin: 0 auto;

} */

  
.footer-title {
  margin-top: 10px; 
}
.left {
  text-align: left;
  float: left;
  width: 100%; /* Update the width to cover the entire area at the left */
}

h3.left {

  color: #fff6f6;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: left;

}

h3.center {

  color: #f8f3f3;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: center;

}
  

/* List Styling */

  ul {
    margin: 0;
    list-style-type: none;
}

    li {
    margin: 0;
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    list-style-type: none;
    text-align: left;
}
 

/* Utility Links Div Styling */

#utility-links {

  width: 50%;
  height: 150px;
  background-color:#161515;
  margin: 40px auto 0 auto;
   
}

.rectangle {
  width: 1px;
  height: 100px;
  background: #d6cdcd;
  margin: 0 30px 0 0;
  float: left;
  display: inline-block;

} 

  
/* Help Styling */

.help {
 
  width: 30%;
  height: 100px;
  #float: left;
  margin: 0;
  display: inline-block;
 
}

  
/* Help Img Icons*/

.help-img-icon {

  float: left;
  margin: 0 5px 0 0;

}


/* About Styling */

.about {

  width: 30%;
  height: 100px;
  float: left;
  margin: 0;
  display: inline-block;

}


/* Card Services Styling */

.card {

  width: 30%;
  height: 100px;
  float: left;
  margin: 0;
  display: inline-block;

}


/* Newsletter-Social Container */ 

#newsletter-social {
 
  width: 40%;
  margin: 0 auto;
  text-align: center;

}
    
  
/* Newsletter Styling */ 

#newsletter {
 
  width: 65%;
  margin: 30px 0 0 0;
  text-align: center;
  float: left;
  display: inline-block;

}

p.deals {
    
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 500; 
  line-height: 0;
  text-align: center;
  
}

input[type=text] {

    width: 60%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px #D9D6D6;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


input[type=button], input[type=submit], input[type=reset] {

    background-color: #0677FF;
    border: 2px;
    border-radius: 4px;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 900;
  
}


/* Social Media Styling */ 

#social {

  width: 35%;
  margin: 80px 0 0 0;
  float: right;
  display: inline-block;

}


/* Copyright Styling */ 

.rectangle-horiz {
  width: 100%;
  height: 2px;
  background: #D8D8D8;
  margin: 170px 0 0 0;

}


#copyright {
  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}


 .copy {

    color: #a7a7a7;
    font-size: 10px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left: 20px;
    display: inline-block;
overflow: hidden;

}


/* Link Styling */

a:link {
    color: #fefdfd;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}

a:visited {
    color: #f7f5f5;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:hover {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:active {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
  }

}



/* =TABLET */

@media all and (max-width: 1339px) and (min-width: 600px) {

/* Footer Parent Div Styling */

#footer {
  
  width:100%;
  background-color:#000000;
  margin: 0 auto;

}

/* H3 Styling */

h3.left {

  color: #000;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: left;

}

h3.center {

  color: #000;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: center;

}
  

/* List Styling */

  ul {
    margin: 0;
    list-style-type: none;
}

    li {
    margin: 0;
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    list-style-type: none;
  text-align: left;
}
 


/* Utility Links Div Styling */

#utility-links {

  width: 90%;
  height: 150px;
  background-color:#fff0f0;
  margin: 40px auto 0 auto;

 
    
}

.rectangle {
  width: 1px;
  height: 100px;
  background: #0a0a0a;
  margin: 0 30px 0 30px;
  float: left;
display: inline-block;

}

/* Help Styling */

.help {
 
  width: 25%;
  height: 100px;
  float: left;
  margin: 0;
display: inline-block;
 
}

/* Help Img Icons*/

.help-img-icon {

  float: left;
  margin: 0 5px 0 0;

}


/* About Styling */

.about {

  width: 25%;
  height: 100px;
  float: left;
  margin: 0;
display: inline-block;

}


/* Card Services Styling */

.card {

  width: 25%;
  height: 100px;
  float: left;
  margin: 0;
display: inline-block;

}


/* Newsletter Styling */ 

#newsletter {
 
  width: 50%;
  margin: 30px 0 0 0;
  text-align: center;
float: left;
display: inline-block;

}

p.deals {
    
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 500; 
  line-height: 0;
  text-align: center;
  
}

input[type=text] {

    width: 40%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px #0b0a0a;
    background-color: #050404;
    border-radius: 4px;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


input[type=button], input[type=submit], input[type=reset] {

    background-color: #0677FF;
    border: 2px;
    border-radius: 4px;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 900;
  
}


/* Social Media Styling */ 

#social {

  width: 50%;
  margin: 80px 0 0 0;
  float: right;
  display: inline-block;

}


/* Copyright Styling */ 

.rectangle-horiz {
  width: 100%;
  height: 2px;
  background: #D8D8D8;
  margin: 0 0 0 0;

}


#copyright {
  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;

}


 .copy {

    color: #a7a7a7;
    font-size: 10px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left: 20px;


}


/* Link Styling */

a:link {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}

a:visited {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:hover {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:active {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
  }

}




/* MOBILE */

@media all and (max-width: 599px) and (min-width: 100px) {

  
/* Footer Parent Div Styling */

#footer {
  
  width:100%;
  background-color:#050505;
  margin: 0 auto;

}

/* H3 Styling */

h3.left {

  color: #000;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 


}

h3.center {

  color: #000;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: center;

}
  

/* List Styling */

  ul {
    margin: 0;
    list-style-type: none;
}

    li {
    margin: 0;
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    list-style-type: none;
     text-align: center;
}
 

/* Utility Links Div Styling */

#utility-links {

  width: 90%;
  height: 100px;
  background-color:#000000;
  margin: 40px auto 0 auto;

    
}


/* Help Styling */

.help {
 
  width: 100%;
  height: 100px;
  float: left;
  margin: 0;

}

  
/* Help Img Icons*/

.help-img-icon {

  margin: 0 5px 0 0;

}


/* About Styling */

.about {

  width: 100%;
  height: 100px;
  float: left;
  margin: 50px 0 0 0;

}


/* Card Services Styling */

.card {

  width: 100%;
  height: 100px;
  float: left;
  margin: 0;

}


/* Newsletter Styling */ 

#newsletter {
 
  width: 100%;
  margin: 210px 0 0 0;
  text-align: center;

}

p.deals {
    
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 500; 
  line-height: 0;
  text-align: center;
  
}

input[type=text] {

    width: 40%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px #D9D6D6;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


input[type=button], input[type=submit], input[type=reset] {

    background-color: #0677FF;
    border: 2px;
    border-radius: 4px;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 900;
  
}


/* Social Media Styling */ 

#social {

  width: 100%;
  margin: 30px 0 0 0;

}


/* Copyright Styling */ 

.rectangle-horiz {

  width: 100%;
  height: 2px;
  background: #D8D8D8;
  margin: 30px 0 0 0;

}


#copyright {
  
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;

}


 .copy {

    color: #a7a7a7;
    font-size: 8.5px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin: 0;
   white-space: nowrap;


}


/* Link Styling */

a:link {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}

a:visited {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:hover {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:active {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
  }

}

